*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #eee;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 10px;
  margin: 50px auto;
}